<h1><b>MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh</b></h1>
<p>"1 năm đầu tiên, có những đêm ngủ trong vô thức mình vẫn giật mình tỉnh dậy,không nghĩ hoàn cảnh này lại thật sự rơi vào mình" - MC Diệu Linh chia sẻ.</p>
<p>Vừa qua, thông tin MC Diệu Linh (sinh năm 1991) đã và đang phải chiến đấu với căn bệnh ung thư máu suốt 2 năm khiến nhiều người không khỏi bàng hoàng. Phát hiện bản thân bị ung thư trong những năm tháng tuổi trẻ rực rỡ nhất, nhiều hứa hẹn nhất chắc chắn là điều không hề dễ dàng để chấp nhận. Rồi quãng thời gian phải chung sống và chiến đấu với bệnh cùng muôn vàn khó khăn có thể đánh gục bất kì ai. Tuy nhiên trên MXH, người theo dõi vẫn thấy Diệu Linh tỏ ra đầy lạc quan. Nếu không chia sẻ, có lẽ không ai biết cô gái này đang mang bệnh nặng trong người. </p>
<img src="https://kenh14cdn.com/thumb_w/620/2020/6/3/96854034102211334201023224345421419287412736o-15905504966121497375163-1591200007380994242678.jpg">
<p>Vừa qua, thông tin MC Diệu Linh (sinh năm 1991) đã và đang phải chiến đấu với căn bệnh ung thư máu suốt 2 năm khiến nhiều người không khỏi bàng hoàng. Phát hiện bản thân bị ung thư trong những năm tháng tuổi trẻ rực rỡ nhất, nhiều hứa hẹn nhất chắc chắn là điều không hề dễ dàng để chấp nhận. Rồi quãng thời gian phải chung sống và chiến đấu với bệnh cùng muôn vàn khó khăn có thể đánh gục bất kì ai. Tuy nhiên trên MXH, người theo dõi vẫn thấy Diệu Linh tỏ ra đầy lạc quan. Nếu không chia sẻ, có lẽ không ai biết cô gái này đang mang bệnh nặng trong người.

  MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh nhưng không có nghĩa đã thật sự quen - Ảnh 1.
  Diệu Linh biết mình mắc bệnh vào tháng 6/2018. Gần đây khi bệnh tình trở nặng, cô phải nghỉ công việc ở VTVCab và nhập viện để điều trị. Sắp tới, có thể Diệu Linh sẽ phải ghép tuỷ

  Diệu Linh đầy lạc quan và kiên cường của ngày hôm nay cũng đã từng có những ngày tuyệt vọng, buồn bã, có những đêm giật mình thức giấc tự hỏi tại sao mình lại rơi vào hoàn cảnh này. Để rồi trong nghịch cảnh, cô lấy lại tinh thần, nỗ lực sống chung với bệnh tật, từng ngày xây cho mình một ý chí vững vàng để đối mặt với mọi thứ. Lúc tưởng chừng như không còn lựa chọn nào vì căn bệnh hiểm nghèo, Linh biết mình vẫn có thể chọn một tâm thế tích cực để đối diện với mọi thứ.

  Cùng trò truyện thêm với MC Diệu Linh:

  Trước khi biết mình bị bệnh, hẳn Linh cũng đã có rất nhiều dự định?

  Lúc khoẻ mạnh thì hầu như năm nào mình cũng đặt ra mục tiêu cho bản thân. Ví dụ năm nay đi được những đâu, ổn định được công việc, tạo dựng cuộc sống vững chắc sau đó sẽ phát triển thêm một số mảng trong khả năng của mình. Chuyện kết hôn thì hầu như cô gái nào đến 27 tuổi cũng sẽ có những áp lực từ gia đình nhưng thật sự lúc đó mình chưa hề có kế hoạch gì cụ thể. Với mình hôn nhân sớm hay muộn không quan trọng, dù kết hôn hay chưa thì bạn phải sống hạnh phúc, có trách nhiệm với chính mình và gia đình là được.

  Thú thật là nhìn Linh không ai nghĩ bạn đang có rất nhiều khó khăn. Linh cố tỏ ra mình ổn cho mọi người yên tâm hay thực sự đã lạc quan chấp nhận sống chung với bệnh?

  Thực ra là cả 2. Nếu nói là mình thật sự vui vẻ lạc quan như những gì thể hiện ra ngoài là không đúng. Nhưng tính mình trước nay sống khá kín kẽ, mình không thích phơi bày hết mọi thứ cho nhiều người biết. Thường thì những lúc không ổn mình sẽ chịu một mình hoặc tâm sự với những người bạn thật thân. Sau đó khi lấy lại tinh thần, mình sẽ vui vẻ chiến đấu tiếp.

  Khi biết tin chẳng lành, mình lấy lại tinh thần khá nhanh và quyết tâm sống chung, chiến đấu với bệnh tật. Nhưng không có nghĩa là mình thật sự quen với nó. 1 năm đầu tiên, có những đêm ngủ trong vô thức mình vẫn giật mình tỉnh dậy, không nghĩ hoàn cảnh này lại thật sự rơi vào mình. </p>
  <img src="https://kenh14cdn.com/thumb_w/620/2020/6/3/101189843102212939107544885234746208114704384o-1591200007356469239036.jpg">
  <p>Căn bệnh này đã thay đổi cuộc sống của Linh như thế nào?

    Mình sống chậm hơn, yêu bản thân hơn. Hầu như ngoài thời gian đi làm mình chỉ ở nhà nấu ăn, cắm hoa, đọc sách, xem phim và tập thể thao nhẹ nhàng, gặp gỡ vài người bạn thân, không ra ngoài giao lưu nhiều.

    Điều lớn nhất mà Linh học được sau 2 năm qua là?

    Sau khi bị bệnh mình mới nhận ra một điều rằng bản thân mình chính là điều quan trọng nhất, hãy biết yêu thương bản thân mình vì bạn xứng đáng được như vậy. Cũng đừng vì cách hành xử của người khác mà chán ghét hay đối xử không tốt với chính mình. Bởi chỉ khi bạn khoẻ mạnh, xinh đẹp, tự lo cho mình cuộc sống tốt nhất, bạn mới có thể lo được cho cha mẹ, người thân, cũng như lan toả hạnh phúc, yêu thương đến những người xung quanh.

    Vậy còn điều khiến bạn tiếc nuối nhất?

    Mình chưa kịp mua bảo hiểm nhân thọ.</p>
    <img src="https://kenh14cdn.com/thumb_w/620/2020/6/3/27788145102143704701928016969623574991016377o-15912031794681587493151.jpg">
    <p>Chi phí điều trị ung thư máu rất lớn, 2 năm qua bạn đã cáng đáng điều này thế nào?

      Trước đây lúc khoẻ mạnh, mình cũng có tiền tiết kiệm, ngoài ra mình vẫn song song kiếm tiền trong lúc chữa bệnh. Gia đình, người thân mình cũng hỗ trợ 1 phần.

      Khoảng thời gian miệt mài kiếm tiền trước đây có làm bạn tiếc nuối rằng hoá ra mình nên dành thời gian chăm sóc cho sức khoẻ nhiều hơn?

      Việc mình bị bệnh không hẳn là do quá vất vả kiếm tiền, chỉ là điều không may mắn rơi vào ai thì người ấy phải chịu thôi. Tuổi trẻ thì không nên quá an nhàn, còn sức khoẻ thì nên làm tất cả những gì mình thích.

      Từ năm 18 tuổi đã tự lập và rõ ràng trong chi tiêu, bạn có nghĩ lẽ ra nên chiều chuộng bản thân hơn, bớt lo nghĩ cho tương lai để tận hưởng cuộc sống hơn không?

      Mình tự thấy mình là người cân bằng cuộc sống tốt. Nếu không bị bệnh thì mình nghĩ mình sẽ luôn có cuộc sống khá ổn, dù không quá giàu có nhưng thoải mái, đầy đủ. Trước đây lúc còn khoẻ mạnh, ngoài thời gian lao động mình cũng khá chiều chuộng bản thân. Quan điểm của mình là lúc nào hưởng được nên hưởng thụ trong khả năng cho phép. </p>
      <img src="https://kenh14cdn.com/thumb_w/620/2020/6/3/5443746610217422419849635376205763233710080o-15912032862422044670959.jpg">
      <p>Vừa qua, thông tin MC Diệu Linh (sinh năm 1991) đã và đang phải chiến đấu với căn bệnh ung thư máu suốt 2 năm khiến nhiều người không khỏi bàng hoàng. Phát hiện bản thân bị ung thư trong những năm tháng tuổi trẻ rực rỡ nhất, nhiều hứa hẹn nhất chắc chắn là điều không hề dễ dàng để chấp nhận. Rồi quãng thời gian phải chung sống và chiến đấu với bệnh cùng muôn vàn khó khăn có thể đánh gục bất kì ai. Tuy nhiên trên MXH, người theo dõi vẫn thấy Diệu Linh tỏ ra đầy lạc quan. Nếu không chia sẻ, có lẽ không ai biết cô gái này đang mang bệnh nặng trong người.

        MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh nhưng không có nghĩa đã thật sự quen - Ảnh 1.
        Diệu Linh biết mình mắc bệnh vào tháng 6/2018. Gần đây khi bệnh tình trở nặng, cô phải nghỉ công việc ở VTVCab và nhập viện để điều trị. Sắp tới, có thể Diệu Linh sẽ phải ghép tuỷ

        Diệu Linh đầy lạc quan và kiên cường của ngày hôm nay cũng đã từng có những ngày tuyệt vọng, buồn bã, có những đêm giật mình thức giấc tự hỏi tại sao mình lại rơi vào hoàn cảnh này. Để rồi trong nghịch cảnh, cô lấy lại tinh thần, nỗ lực sống chung với bệnh tật, từng ngày xây cho mình một ý chí vững vàng để đối mặt với mọi thứ. Lúc tưởng chừng như không còn lựa chọn nào vì căn bệnh hiểm nghèo, Linh biết mình vẫn có thể chọn một tâm thế tích cực để đối diện với mọi thứ.

        Cùng trò truyện thêm với MC Diệu Linh:

        Trước khi biết mình bị bệnh, hẳn Linh cũng đã có rất nhiều dự định?

        Lúc khoẻ mạnh thì hầu như năm nào mình cũng đặt ra mục tiêu cho bản thân. Ví dụ năm nay đi được những đâu, ổn định được công việc, tạo dựng cuộc sống vững chắc sau đó sẽ phát triển thêm một số mảng trong khả năng của mình. Chuyện kết hôn thì hầu như cô gái nào đến 27 tuổi cũng sẽ có những áp lực từ gia đình nhưng thật sự lúc đó mình chưa hề có kế hoạch gì cụ thể. Với mình hôn nhân sớm hay muộn không quan trọng, dù kết hôn hay chưa thì bạn phải sống hạnh phúc, có trách nhiệm với chính mình và gia đình là được.

        Thú thật là nhìn Linh không ai nghĩ bạn đang có rất nhiều khó khăn. Linh cố tỏ ra mình ổn cho mọi người yên tâm hay thực sự đã lạc quan chấp nhận sống chung với bệnh?

        Thực ra là cả 2. Nếu nói là mình thật sự vui vẻ lạc quan như những gì thể hiện ra ngoài là không đúng. Nhưng tính mình trước nay sống khá kín kẽ, mình không thích phơi bày hết mọi thứ cho nhiều người biết. Thường thì những lúc không ổn mình sẽ chịu một mình hoặc tâm sự với những người bạn thật thân. Sau đó khi lấy lại tinh thần, mình sẽ vui vẻ chiến đấu tiếp.

        Khi biết tin chẳng lành, mình lấy lại tinh thần khá nhanh và quyết tâm sống chung, chiến đấu với bệnh tật. Nhưng không có nghĩa là mình thật sự quen với nó. 1 năm đầu tiên, có những đêm ngủ trong vô thức mình vẫn giật mình tỉnh dậy, không nghĩ hoàn cảnh này lại thật sự rơi vào mình.

        MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh nhưng không có nghĩa đã thật sự quen - Ảnh 2.
        Diệu Linh luôn thể hiện sự lạc quan khi nằm viện điều trị

        Căn bệnh này đã thay đổi cuộc sống của Linh như thế nào?

        Mình sống chậm hơn, yêu bản thân hơn. Hầu như ngoài thời gian đi làm mình chỉ ở nhà nấu ăn, cắm hoa, đọc sách, xem phim và tập thể thao nhẹ nhàng, gặp gỡ vài người bạn thân, không ra ngoài giao lưu nhiều.

        Điều lớn nhất mà Linh học được sau 2 năm qua là?

        Sau khi bị bệnh mình mới nhận ra một điều rằng bản thân mình chính là điều quan trọng nhất, hãy biết yêu thương bản thân mình vì bạn xứng đáng được như vậy. Cũng đừng vì cách hành xử của người khác mà chán ghét hay đối xử không tốt với chính mình. Bởi chỉ khi bạn khoẻ mạnh, xinh đẹp, tự lo cho mình cuộc sống tốt nhất, bạn mới có thể lo được cho cha mẹ, người thân, cũng như lan toả hạnh phúc, yêu thương đến những người xung quanh.

        Vậy còn điều khiến bạn tiếc nuối nhất?

        Mình chưa kịp mua bảo hiểm nhân thọ.

        MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh nhưng không có nghĩa đã thật sự quen - Ảnh 3.
        Diệu Linh luôn nỗ lực chăm chỉ lên sóng trong 2 năm bị bệnh

        Chi phí điều trị ung thư máu rất lớn, 2 năm qua bạn đã cáng đáng điều này thế nào?

        Trước đây lúc khoẻ mạnh, mình cũng có tiền tiết kiệm, ngoài ra mình vẫn song song kiếm tiền trong lúc chữa bệnh. Gia đình, người thân mình cũng hỗ trợ 1 phần.

        Khoảng thời gian miệt mài kiếm tiền trước đây có làm bạn tiếc nuối rằng hoá ra mình nên dành thời gian chăm sóc cho sức khoẻ nhiều hơn?

        Việc mình bị bệnh không hẳn là do quá vất vả kiếm tiền, chỉ là điều không may mắn rơi vào ai thì người ấy phải chịu thôi. Tuổi trẻ thì không nên quá an nhàn, còn sức khoẻ thì nên làm tất cả những gì mình thích.

        Từ năm 18 tuổi đã tự lập và rõ ràng trong chi tiêu, bạn có nghĩ lẽ ra nên chiều chuộng bản thân hơn, bớt lo nghĩ cho tương lai để tận hưởng cuộc sống hơn không?

        Mình tự thấy mình là người cân bằng cuộc sống tốt. Nếu không bị bệnh thì mình nghĩ mình sẽ luôn có cuộc sống khá ổn, dù không quá giàu có nhưng thoải mái, đầy đủ. Trước đây lúc còn khoẻ mạnh, ngoài thời gian lao động mình cũng khá chiều chuộng bản thân. Quan điểm của mình là lúc nào hưởng được nên hưởng thụ trong khả năng cho phép.

        MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh nhưng không có nghĩa đã thật sự quen - Ảnh 4.
        Bệnh tật, hoạn nạn đã giúp Linh nhìn thấu giá trị của tình thân như thế nào?

        Có một câu nói mình đọc được và thấy rất đúng: "Bạn quen biết bao nhiêu người không quan trọng, quan trọng là khi hoạn nạn bao nhiêu người còn quen biết bạn." Đôi khi chính mình cũng cảm ơn nghịch cảnh vì nhờ có nó mà mình hiểu thêm về những người xung quanh. Biết trân trọng hơn những người bạn tốt, và lược bỏ những mối quan hệ không cần thiết.

        Công việc chắc cũng là niềm vui và nguồn động viên không ít cho bạn khi phải sống chung với bệnh?

        Mình may mắn có công việc yêu thích và những đồng nghiệp tốt. Mỗi khi đến cơ quan mình có cảm giác thoải mái, thân thiết như ngôi nhà thứ 2 của mình vậy. Và cả những lời động viên, nhận xét của khán giả cũng là nguồn động lực lớn cho mình để tiếp tục cố gắng.

        Cảm ơn Diệu Linh vì những chia sẻ.</p>
