<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1><i class="fas fa-earth"></i><b> Đời sống </b><i class="fas fa-earth"></i></h1>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/13/800-500-15920108215601434086157-crop-15920108655611787400569.jpg"
    alt="V and Tzuyu">
  </div>
  <div class="right" margin-left = "5px">
    <a href="https://localhost:44344/postdoisong"><h5 style="text-decoration: none; color: black;"><b>MC Diệu Linh sau 2 năm chiến đấu cùng ung thư máu: Quyết tâm sống chung với bệnh</b></h5></a>
    <p>"1 năm đầu tiên, có những đêm ngủ trong vô thức mình vẫn giật mình tỉnh dậy,<br/> không nghĩ hoàn cảnh này lại thật sự rơi vào mình" - MC Diệu Linh chia sẻ.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/pr/2020/photo-1-15919750669731128093402-59-0-613-888-crop-1591975286284-63727598236289.jpg">
  </div>
  <div class="right" margin-left = "5px">
    <a href="https://localhost:44344/postdoisong1"><h5 style="text-decoration: none; color: black;"><b>Bị mụn 5 năm không bớt - Bất ngờ hiệu quả sau 3 tuần điều trị tại O2 SKIN</b></h5></a>
    <p>"Phương pháp điều trị chuẩn y khoa của O2 SKIN đã chứng tỏ được hiệu quả tuyệt vời trong trị mụn thành công cho hàng trăm ngàn khách hàng. Trong đó có La Thành Thái - tự trị mụn 5 năm không bớt, bất ngờ hiệu quả sau 3 tuần điều trị tại O2 SKIN."</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/22/photo-1-1592810382172347284483-crop-159281042572875849145.jpg"
    alt="GNL">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Phát hiện đàn chó 500 con vừa chết, vừa đuối sức trên máy bay của hãng hàng không nước ngoài, cảnh sát lập tức điều tra</b></h5>
    <p>"500 chú chó con, trong đó 38 con đã chết, được tìm thấy trên khoang máy bay của hãng hàng không Ukraine International Airlines (UIA).."</p>
  </div>
</div>


