a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
input[type="text"]{
  width: 130px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  padding:  2px 3px;

  transition: 0.6s ease-in-out;
}
input[type="text"]:focus{
  width: 200px;
}
form {
  padding-top: 5px;
  padding-left: 20px;
}

input[placeholder="Tìm kiếm..."]:focus{
  columns: #000000;
  font-size: 10px;
}
div.footer ul {
  list-style-type: none;
  display: flex;
  color: white;
}
div.footer ul li {
  margin: 10px;
}
div.menu{
  padding-left: 180px;
}
