<div class="V" id="V">
  <div class="left">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Netizen phát cuồng vì V (BTS) và Tzuyu (TWICE) chung khung hình: 2 gương mặt đẹp nhất thế giới có khác, nhưng có giống hẹn hò?</b></h5>
    <h6><b>"Khoảnh khắc hai đại diện nhan sắc của những nhóm nhạc đình đám Tzuyu và V cùng chung khung hình khiến cư dân mạng phải trầm trồ khen ngợi.</b></h6>
    <p>Mới đây, khoảnh khắc cặp đôi visual V (BTS) và Tzuyu (TWICE) đứng chung một khung hình là chủ đề bàn luận sôi nổi trên mạng xã hội Hàn Quốc. Người hâm mộ đã "đào" lại khoảnh khắc hai idol chung khung hình trong lễ trao giải AAA 2018. Đây là thời điểm các nghệ sĩ tham gia chương trình cùng bước ra sân khấu chụp hình kỷ niệm, vị trí ngồi của V ngay phía trước Tzuyu.</p>
    <img src="https://kenh14cdn.com/thumb_w/620/2020/6/18/6-17-2020-5-42-13-pm-7061-1592390867-1592447557518897602399.png">
    <p>Ngay lập tức, cư dân mạng Hàn Quốc đã nhanh chóng phát cuồng khoảnh khắc "bùng nổ visual" này. Nếu như V được biết đến với vẻ đẹp "thần thánh", "quý tộc", thường lọt top đầu trong các bảng xếp hạng nhan sắc cả trong nước lẫn quốc tế thì Tzuyu cũng là một trong những visual hàng đầu gen 3 nhờ gương mặt nhỏ nhắn, sống mũi cao thanh thoát, đường nét kiều diễm, mọi cử chỉ đều toát lên thần thái nhã nhặn, thanh lịch. Bên cạnh đó, Tzuyu là thành viên cao nhất nhóm khi cao đến 1,72m và sở hữu thân hình chuẩn hết chỗ chê. Điểm chung cung của 2 idol là đều từng giành No.1 top 100 gương mặt đẹp nhất thế giới.</p>
  </div>
</div>
