<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1><i class="fas fa-televison"></i><b> TV Show </b><i class="fas fa-televison"></i></h1>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/20/photo-1-15926204122152023481048-crop-15926205406191275605726.jpg"
    alt="V and Tzuyu">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Đô vật gây sốc khi hất thẳng ca nước tiểu vào mặt đối thủ cơ bắp, khiến người này không ngừng nôn thốc nôn tháo</b></h5>
    <p>Đang cầm ca đựng mẫu thử nước tiểu trên tay, đô vật Jeff Hardy bỗng hất luôn vào mặt đối thủ Sheamus.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/12/12-1568175444104987447791-15919713755851031100867-crop-1591971697139367204637.jpg"
    alt="BTS">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Hà Tĩnh cầm hòa Hà Nội</b></h5>
    <p>Dù bị dẫn và hai lần phải ngừng thi đấu giữa trận, đội chủ nhà kịp gỡ hòa 1-1 bằng pha lập công phút cuối.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/12/photo1591961225557-15919612255611621549054-crop-1591961287962350235101.jpg"
    alt="GNL">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Câu chuyện đẫm nước mắt ẩn sau mái tóc kỳ dị của ngôi sao NBA</b></h5>
    <p>"Lonnie Walker IV, cầu thủ thuộc biên chế đội bóng San Antonio Spurs đã từng sở hữu một mái tóc không giống ai ở NBA. Thế nhưng, câu chuyện đằng sau mái tóc ấy sẽ khiến nhiều người phải giật mình.</p>
  </div>
</div>

