<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1><i class="fas fa-music"></i><b> Musik </b><i class="fas fa-music"></i></h1>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/16/ezgif-3-977294a450aa-1592325420885774004426-crop-15923254631951890504037.gif"
    alt="V and Tzuyu">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>CHROMATICA - Lady Gaga: Nữ hoàng Electro-pop của 2009 thực sự trở lại!</b></h5>
    <p>"CHROMATICA tràn ngập trong những ảnh hưởng mạnh mẽ của thập niên 90s phối hợp hoàn hảo với chính màu sắc của Lady Gaga trong quá khứ để tạo nên một hỗn hợp electro-pop tuyệt vời của riêng cô.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/5/19/untitled-1-1589891343382353647168-crop-1589891347567510390059.jpg"
    alt="BTS">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>"Eight" của IU và SUGA (BTS) - Đôi bạn đồng niên trong giấc mơ về niềm hạnh phúc vĩnh viễn</b></h5>
    <p>"IU cùng SUGA đưa vào “Eight” những suy tư của bản thân khi bước sang tuổi 28, chia đều sự chú ý và tạo nên một màn kết hợp cho thấy sự trưởng thành đáng kinh ngạc trong chuỗi series tuổi tác của IU."</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/5/17/ava1-1589693521281112151492-crop-15896935275182002612079.png"
    alt="GNL">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Quá bất ngờ: Erik vượt mặt cả "siêu phẩm" kết hợp của IU và Suga, lọt top 10 MV được xem nhiều nhất thế giới tuần vừa qua!</b></h5>
    <p>"Bất chấp màn comeback đã gây không ít tranh cãi về tính sáng tạo của Erik, nhưng MV "Em Không Sai Chúng Ta Sai" vẫn sở hữu lượt view "khủng long"."</p>
  </div>
</div>
