<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1><i class="fas fa-star"></i><b> Star </b><i class="fas fa-star"></i></h1>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/18/hyrsgn6o-15924479893012142236361-crop-1592447997735696358168.jpg"
    alt="V and Tzuyu">
  </div>
  <div class="right" margin-left = "5px">
    <a href="https://localhost:44344/post"><h5 style="text-decoration: none; color: black;"><b>Netizen phát cuồng vì V (BTS) và Tzuyu (TWICE) chung khung hình: 2 gương mặt đẹp nhất thế giới có khác, nhưng có giống hẹn hò?</b></h5></a>
    <p>"Khoảnh khắc hai đại diện nhan sắc của những nhóm nhạc đình đám Tzuyu và V cùng chung khung hình khiến cư dân mạng phải trầm trồ khen ngợi.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/18/81-15924616449961158733350-crop-15924619085561303852174.gif"
    alt="BTS">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Netizen tổng hợp các pha đụng chạm "mùi mẫn" của BTS, tình nhất chắc là V & Jungkook!</b></h5>
    <p>"Tình thân của 7 thành viên BTS đã gắn kết như một gia đình nên việc thể hiện tình cảm thế này cũng không có gì làm lạ."</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/12/untitled-1-15919811029422116737655-crop-1591981117101874189687.jpg"
    alt="GNL">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Tái hợp với Giả Nãi Lượng, Lý Tiểu Lộ có thái độ "câu kéo" chồng cũ với loạt ảnh gợi cảm?</b></h5>
    <p>"Sau bao ồn ào, Lý Tiểu Lộ ngày càng thích khoe hình ảnh gợi cảm, quyến rũ trên mạng xã hội."</p>
  </div>
</div>
