<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<h1><i class="fas fa-earth"></i><b> Thế giới </b><i class="fas fa-earth"></i></h1>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/4/h2-1591258482260704963642-crop-1591260146505215023747.jpg"
    alt="V and Tzuyu">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Sinh vật chẳng ai nghĩ đến này có thể chính là "siêu anh hùng" giải cứu thế giới trong tương lai</b></h5>
    <p>"Một sinh vật hiện đang đem lại cho con người cả hai cảm xúc yêu ghét lẫn lộn, khi vừa có thể làm hư hỏng thực phẩm nhưng cũng vừa tạo ra thực phẩm, vừa gây bệnh lại vừa cung cấp các dược chất chữa bệnh.</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2019/5/11/hot-pot-toothpaste7-15575516609671481483704-crop-1557551670495995448458.jpg"
    alt="BTS">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Ra mắt kem đánh răng vị lẩu cay Tứ Xuyên tại Trung Quốc</b></h5>
    <p>Dùng xong có lẽ phải đánh lại răng bằng kem vị trà xanh cho sạch mồm...</p>
  </div>
</div>

<div class="anh">
  <div class="left">
    <img src="http://kenh14cdn.com/zoom/280_175/2020/6/22/photo-1-1592810382172347284483-crop-159281042572875849145.jpg"
    alt="GNL">
  </div>
  <div class="right" margin-left = "5px">
    <h5><b>Phát hiện đàn chó 500 con vừa chết, vừa đuối sức trên máy bay của hãng hàng không nước ngoài, cảnh sát lập tức điều tra</b></h5>
    <p>"500 chú chó con, trong đó 38 con đã chết, được tìm thấy trên khoang máy bay của hãng hàng không Ukraine International Airlines (UIA).."</p>
  </div>
</div>
